/TheShop/packages
/TheShop/Shop.WebApi/bin
/TheShop/Shop.WebApi/obj/Debug
/TheShop/Vendor.WebApi/bin
/TheShop/Vendor.WebApi/obj/Debug
/TheShop/.vs
/TheShop.backup
/TheShop/Vendor.WebApi/obj
/TheShop/Shop.WebApi/obj
/TheShop/UpgradeReport.sarif
/TheShop/upgrade-assistant.clef
/TheShop/AnalysisReport.sarif
/TheShop/TheShop.Domain/bin
/TheShop/TheShop.Domain/obj
/TheShop/TheShop.Application/bin
/TheShop/TheShop.Application/obj
/TheShop/TheShop.Infrastructure/bin
/TheShop/TheShop.Infrastructure/obj
/TheShop/TheShop.Domain.Tests/bin
/TheShop/TheShop.Domain.Tests/obj
/TheShop/TheShop.Application.Tests/bin
/TheShop/TheShop.Application.Tests/obj
