/TheShop/packages
/TheShop/Shop.WebApi/bin
/TheShop/Shop.WebApi/obj/Debug
/TheShop/Vendor.WebApi/bin
/TheShop/Vendor.WebApi/obj/Debug
/TheShop/.vs
/TheShop.backup
/TheShop/Vendor.WebApi/obj
/TheShop/Shop.WebApi/obj
/TheShop/UpgradeReport.sarif
/TheShop/upgrade-assistant.clef
/TheShop/AnalysisReport.sarif
